<?xml version="1.0" encoding="UTF-8"?>
<log4j:configuration>




	<appender name="stdout"
		class="org.apache.log4j.ConsoleAppender">
		<param name="threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{ISO8601} %5p [%c{1}]   %m%n" />
		</layout>
	</appender>

	<appender name="file" class="org.apache.log4j.RollingFileAppender">
	    <param name="file" value="myapp.log"/>
	    <param name="append" value="true"/>
	    <param name="maxFileSize" value="10MB"/>
	    <param name="maxBackupIndex" value="10"/>
	    <layout class="org.apache.log4j.PatternLayout">
	        <param name="ConversionPattern" value="%d{ISO8601} %5p [%c{1}]   %m%n"/>
	    </layout>
	</appender>
	
	<root>
	    <priority value="debug"/>
	    <appender-ref ref="stdout"/><!-- in console -->
	    <appender-ref ref="file"/><!-- in file: myapp.log -->
	</root>
	
</log4j:configuration>